<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

 <div id="page" layout:fragment="content">
    
    <article>
    
    <div class="container">

      <h1 class="line-marked">Portfolio</h1>

      <section>

        <div class="projects">

          <figure>
            <div class="image-container">
            <a href="#" title="Project title 1"><img src="./images/portfolio1.png" alt="An ipad, keyboard and mouse on a table"></a>
            </div>
            <figcaption>
              <span class="title">Currency information singlepage</span>
              <p>Web design for Shadowman</p>
            </figcaption>
          </figure>

          <figure>
            <div class="image-container">
            <a href="#" title="Project title 2"><img src="./images/portfolio2.png" alt="Image with all in shadows and a heart made with fluorescent lights"></a>
            </div>
            <figcaption>
              <span class="title">Project title 2</span>
              <cite>Photo by Designecologist from Pexels</cite>
            </figcaption>
          </figure>

          <figure>
            <div class="image-container">
            <a href="#" title="Project title 3"><img src="./images/portfolio3.jpg" alt="A close-up of a person's eyes"></a>
            </div>
            <figcaption>
              <span class="title">Project title 3</span>
              <cite>Photo by Sharon McCutcheon from Pexels</cite>
            </figcaption>
          </figure>

          <figure>
            <div class="image-container">
            <a href="#" title="Project title 4"><img src="./images/portfolio4.jpg" alt="One person modeling in a photography studio"></a>
            </div>
            <figcaption>
              <span class="title">Project title 4</span>
              <cite>Photo by Ron Lach from Pexels</cite>
            </figcaption>
          </figure>

          <figure>
            <div class="image-container">
            <a href="#" title="Project title 5"><img src="./images/portfolio5.jpg" alt="Quite a few tubes of light converging to the center"></a>
            </div>
            <figcaption>
              <span class="title">Project title 5</span>
              <cite>Web design for Shadowman</cite>
            </figcaption>
          </figure>

          <figure>
            <div class="image-container">
            <a href="#" title="Project title 6"><img src="./images/portfolio6.jpg" alt="A close-up of a hand with a mobile phone"></a>
            </div>
            <figcaption>
              <span class="title">Project title 6</span>
              <cite>Web design for Shadowman</cite>
            </figcaption>
          </figure>

        </div>

      </section>
      
    </div>
  </article>
  </div>

</html>
