<head th:fragment="head">
<meta charset="ISO-8859-1">
<title>Productos</title>
<meta name="description" content="Listado de Productos"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Juan Bayon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
</head>